.slides-container {
  grid-area: slide;
  padding: 1rem;
  border-radius: 0.4rem;
}

.screen-grid[data-complexity='0'] {
  grid-template-areas:
    'prefs help  help  title title title title title exit  exit '
    'slide slide slide slide slide slide slide slide slide slide'
    'slide slide slide slide slide slide slide slide slide slide'
    'slide slide slide slide slide slide slide slide slide slide'
    'slide slide slide slide slide slide slide slide slide slide';
}

.screen-grid[data-complexity='1'],
.screen-grid[data-complexity='2'] {
  grid-template-areas:
    'prefs help  help  title title title title title exit  exit '
    'slide slide slide slide slide slide slide slide back  back '
    'slide slide slide slide slide slide slide slide pause pause'
    'slide slide slide slide slide slide slide slide ..... .....'
    'slide slide slide slide slide slide slide slide ..... .....';
}
