.prefs-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vh 1vw;
  background-color: lightblue;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 0.5rem;
}

.prefs-group-label {
  margin: 0.1rem;
}

.prefs-group-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 2vh 0;
}

.prefs-button {
  margin: 0.3rem;
}
.prefs-button .button-image {
  width: 40%;
  margin-top: 0.1em;
}
