.info {
  grid-area: info;
  border-radius: calc((1vh + 1vw));
  border-width: calc((1vh + 0.1vw));
  border-style: solid;
  padding: 0.5rem;
  overflow: hidden;
}
.screen-grid[data-screen='info'][data-complexity='0'] {
  grid-template-areas:
    'sbar  home home title title title title title title title title title'
    'sbar  info info info info info info info info info info info'
    'sbar  info info info info info info info info info info info'
    'sbar  info info info info info info info info info info info'
    'sbar  info info info info info info info info info info info'
    'sbar  info info info info info info info info info info info';
}

.screen-grid[data-screen='info'][data-complexity='1'],
.screen-grid[data-screen='info'][data-complexity='2'] {
  grid-template-areas:
    'sbar  help  help  title title title title title title title title exit '
    'sbar  info info info info info info info info info back  back '
    'sbar  info info info info info info info info info ..... .....'
    'sbar  info info info info info info info info info down  down'
    'sbar  info info info info info info info info info up    up '
    'sbar  info info info info info info info info info orig  orig';
}
