.message {
  grid-area: msg;
  border-radius: calc((1vh + 1vw));
  border-width: calc((1vh + 0.1vw));
  border-style: solid;
  padding: 0.5rem;
  white-space: pre-wrap;
}
.screen-grid[data-screen='message'][data-complexity='0'] {
  grid-template-areas:
    'sbar  title title title title title title title title title home home'
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg  msg ';
}

.screen-grid[data-screen='message'][data-complexity='1'],
.screen-grid[data-screen='message'][data-complexity='2'] {
  grid-template-areas:
    'sbar  title title title title title title title title title help  help'
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  back  back '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  ..... .....'
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  down  down'
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  up    up '
    'sbar  msg  msg  msg  msg  msg  msg  msg  msg  msg  orig  orig';
}
