.slides-container {
  grid-area: slide;
  padding: 1rem;
  border-radius: 0.4rem;
}

.screen-grid[data-screen='photos'][data-complexity='0'] {
  grid-template-areas:
    'sbar  home  home  title title title title title title title title title'
    'sbar  slide slide slide slide slide slide slide slide slide slide slide'
    'sbar  slide slide slide slide slide slide slide slide slide slide slide'
    'sbar  slide slide slide slide slide slide slide slide slide slide slide'
    'sbar  slide slide slide slide slide slide slide slide slide slide slide'
    'sbar  captn captn captn captn captn captn captn captn captn captn captn';
}

.screen-grid[data-screen='photos'][data-complexity='1'],
.screen-grid[data-screen='photos'][data-complexity='2'] {
  grid-template-areas:
    'sbar  help  help  title title title title title title title title exit '
    'sbar  slide slide slide slide slide slide slide slide slide back  back '
    'sbar  slide slide slide slide slide slide slide slide slide ..... .....'
    'sbar  slide slide slide slide slide slide slide slide slide pause pause'
    'sbar  slide slide slide slide slide slide slide slide slide ..... .....'
    'sbar  captn captn captn captn captn captn captn captn captn ..... .....';
}
