.prefs-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vh 1vw;
  grid-row: span 2;
}

.prefs-group-label {
  margin: 0.5vh 1vw;
  display: inline;
}

.prefs-group-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 1vh 0;
}

.prefs-button {
  height: 88%;
}
.prefs-button .button-image {
  width: 45%;
  height: 45%;
  margin-bottom: 1vh;
}

.screen-grid[data-screen='preferences'] {
  grid-template-areas:
    'sbar  title title title title title title title title title help  help '
    'sbar  ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... '
    'sbar  ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... .....'
    'sbar  ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... .....'
    'sbar  ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... .....'
    'sbar  ..... ..... ..... ..... ..... ..... ..... ..... ..... ..... .....';
}
