.videos {
  grid-area: video;
  padding: 1rem;
  border-radius: 0.4rem;
}

.screen-grid[data-screen='videos'][data-complexity='0'] {
  grid-template-areas:
    'sbar  title title title title title title title title title home  home '
    'sbar  video video video video video video video video video video video'
    'sbar  video video video video video video video video video video video'
    'sbar  video video video video video video video video video video video'
    'sbar  video video video video video video video video video video video'
    'sbar  video video video video video video video video video video video';
}

.screen-grid[data-screen='videos'][data-complexity='1'],
.screen-grid[data-screen='videos'][data-complexity='2'] {
  grid-template-areas:
    'sbar  title title title title title title title title exit help  help  '
    'sbar  video video video video video video video video video back  back '
    'sbar  video video video video video video video video video ..... .....'
    'sbar  video video video video video video video video video pause pause'
    'sbar  video video video video video video video video video next  next '
    'sbar  video video video video video video video video video ..... .....';
}
