button {
  padding: 0.4vh 0.4vw;
  width: calc(100% - (2 * 0.5vw));
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  height: calc(100% - (2 * 0.5vh));
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  overflow: hidden;
}

.button-label {
  margin: 0;
  line-height: 1;
}

.button-image,
.button-svg {
  width: 80%;
  height: 80%;
  object-fit: contain;
  vertical-align: none;
}
.button-svg {
  width: 70%;
  height: 70%;
}
.button-image {
  margin-bottom: 1%;
}
.button-svg {
  margin-bottom: -2;
}

.button-image:only-child,
.button-svg:only-child {
  width: 90%;
  height: 90%;
}
