.header-background {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  z-index: -1;
}

.header-button.button-explain {
  grid-area: help;
}

.header-button.button-title {
  grid-area: title;
  grid-column-end: exit;
}

.header-button.button-help,
.header-button.button-title {
  width: calc(100% - (2 * 0.5vw));
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  height: calc(100% - (2 * 0.75vh));
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
}
