.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.help-header {
  flex: 0 0 15%;
}
.help-content {
  flex: 1 0;
  margin: 2rem;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 0 0 15%;
}

.help-close,
.help-more {
  flex: 0 0 26%;
}
