.screen-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 0.3rem;
  grid-row-gap: 1vh;
  grid-column-gap: 0.5vw;
}
.screen-grid[data-sbar='1'] {
  grid-template-columns: [sbar-start] minmax(0, 2fr) [sbar-end screen-start] repeat(
      11,
      minmax(0, 1fr)
    );
  grid-template-rows:
    [sbar-start] minmax(0, 1fr) [sbar-start] repeat(
      5,
      minmax(0, 1fr) [sbar-start]
    )
    [sbar-end];
}
.screen-grid[data-sbar='0'] {
  grid-template-columns: 0% [screen-start] repeat(11, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr) repeat(5, minmax(0, 1fr));
}

.screen-sbar-blank {
  grid-area: sbar-start / sbar-start / sbar-end / sbar-end;
}

.button-choice {
  grid-column: span 3;
  grid-row: span 2;
}

.page-error,
.page-loading {
  grid-column-start: sbar-end;
  grid-column-end: -3;
  grid-row-start: 2;
  grid-row-end: -1;
  align-self: center;
  justify-self: center;
}
