:root {
  --font-size: calc((4vh + 0.4vw));
  --border-radius: calc(1vh + 1vw);
}

button {
  color: #ffffff;
  background-color: #2c7dcf;
  border-color: #2c7dcf;
}

.button-title {
  color: #1b75bb;
  background-color: #ffffad;
  border-color: #1b75bb;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-explain {
  color: #8bc53f;
  background-color: #ffffad;
  border-color: #8bc53f;
}

.button-router {
  color: #ffffff;
  background-color: #25a9e0;
  border-color: #25a9e0;
}

.button-logo {
  background: #fafad2;
  border: #fafad2;
}

button.show-focus:focus {
  border-color: red;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size);
}

button {
  font-size: var(--font-size);
  border-radius: calc(var(--border-radius) * 2);
  border-width: calc((1vh + 0.1vw));
  border-style: solid;
}

.header-button,
.sbar-button {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--font-size) * 1.1);
}
.header-button.button-title {
  font-size: calc(var(--font-size) * 1.5);
}

.header-background {
  background: #ffffad;
  border-radius: var(--border-radius);
}

.sbar-background {
  background: #faaf40;
  border-radius: var(--border-radius);
}

.prefs-group {
  background-color: lightblue;
  font-size: calc(var(--font-size) * 0.8);
  font-family: inherit;
  border-radius: var(--border-radius);
}

.oops {
  margin: 1rem;
}
.techy {
  font-size: calc(var(--font-size) * 0.8);
  margin: 2rem;
  padding: 1rem;
  border: grey 1px solid;
  color: grey;
  border-radius: var(--border-radius);
}
.oops button {
  width: 25vw;
}

.page-error,
.page-loading {
  font-size: calc(var(--font-size) * 1.8);
}

.helpScreenName {
  font-weight: 600;
  font-size: 110%;
  font-family: sans-serif;
}
